@import url(http://fonts.googleapis.com/css?family=Imprima);

body{
	background-color:#E5F9FF;
	color:#00ACE6;
	text-shadow: 4px 2px #fff;
	font-family: 'Imprima', Arial, sans-serif;
}

.wrapper {
	margin:0 auto;
	width:960px;
	overflow:hidden;
}

#top, #timer, p{
	/* Firefox */
	display:-moz-box;
	-moz-box-orient:horizontal;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari and Chrome */
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	/* W3C */
	display:box;
	box-orient:horizontal;
	box-pack:center;
	box-align:center;
}

#top{
	font-size:60px;
}

span.counter{
	font-size:40px;
}

p {
	font-size:25px;
	margin-top:90px;
}
em{
	color:red;	
}